.wrap-sidebar{
    // width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #001529;
   
    .top-sidebar{
        height: 100px;
        // background-image: url("../assets//lotus.png");
        // background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-menu{
        margin: 10px auto;
        width: 95%;
        height: 40px;
        border-radius: 10px;
    }
   
}