.wrap-table{
    width: 90% ; 
    height: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pagination{
        margin-top: 50px;
    }
}